m-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 36px;

    padding: 0 16px;

    border-radius: 2px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: box-shadow ease-in-out 200ms, background-color ease-in-out 200ms, color ease-in-out 200ms;
}

m-button[disabled] {
    cursor: not-allowed;
}

m-button > m-text-view {
    height: 36px;
    line-height: 36px;
}