@import "m-import.scss";

m-icon {
  display: block;

  float: left;
  font-size: 0;
  /* Fix for IE fonts in IE */
  font-feature-settings: 'liga';
  outline: none;

  &[selectable] {
    @include touch-icon();
  }
}