@import "m-import.scss";

m-icon {
  display: block;

  float: left;
  font-size: 0;
  /* Fix for IE fonts in IE */
  font-feature-settings: 'liga';

  &[selectable] {
    @include touch-icon();
  }
}