@function mu($measure) {
  @return $measure * 8px;
}

@mixin text-ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

$m-anim-quick-time: 200ms;
$m-anim-quick: ease-in-out $m-anim-quick-time;
$m-anim-quick-linear: linear 200ms;
$m-anim-medium: ease-in-out 400ms;
$m-anim-slow: linear 650ms;
$m-item-single-height: mu(6);
$m-subhead-height: mu(6);
$m-avatar-size: mu(5);
$m-icon-size: mu(3);
$m-icon-touch: mu(5);
$m-toolbar-height: mu(7);