@import "m-import.scss";

/*
 * Spinner stylesheet was inspired by MaterialUI's CircularProgress
 * https://github.com/callemall/material-ui/blob/master/src/CircularProgress/CircularProgress.js
 */
m-spinner {
  display: block;

  position: relative;

  transition: opacity $m-anim-quick;

  /*
   * Indeterminate animation.
   */
  &[indeterminate] {
    animation: spin 3s linear infinite;

    svg.progress {
      transition-duration: 0ms;
    }
  }

  /*
   * Animated indicator.
   */
  svg.progress {
    shape-rendering: geometricPrecision;
    stroke-dasharray: 0 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;

    transition: all 500ms linear;

    &.step1 {
      stroke-dasharray: 50 200;
      transition-duration: 250ms;
    }

    &.step2 {
      stroke-dasharray: 90 200;
      stroke-dashoffset: -35;
      transition-duration: 700ms;
    }

    &.step3 {
      stroke-dasharray: 90 200;
      stroke-dashoffset: -125;
      transition-duration: 600ms;
    }
  }

  /*
   * Layers.
   */
  svg {
    position: absolute;
    top: 50%;
    left: 50%;

    width: mu(5);
    height: mu(5);

    margin-top: mu(-2.5);
    margin-left: mu(-2.5);
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}