m-subhead {
    display: block;
    height: 48px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

m-subhead > m-text-view {
    margin-left: 16px;

    height: 48px;
    line-height: 48px;
}