m-text-field {
    display: block;
    width: 300px;
    height: 72px;

    position: relative;
}

m-text-field > m-text-view.hint {
    position: absolute;
    top: 36px;

    transition: font-size ease-in-out 200ms, color ease-in-out 200ms, top ease-in-out 200ms;
}

m-text-field > m-text-view.hint.collapsed {
    top: 16px;
}

m-text-field > div.border-default {
    position: absolute;
    bottom: 8px;

    width: 100%;

    border-bottom: 1px solid;
}

m-text-field > div.border-active {
    position: absolute;
    bottom: 8px;
    left: 50%;

    width: 0;

    border-bottom: 2px solid;

    transition: left ease-in-out 200ms, width ease-in-out 200ms;
}

m-text-field > div.border-active.shown {
    left: 0;

    width: 100%;
}

m-text-field > input {
    position: absolute;
    bottom: 16px;

    width: 100%;

    opacity: 0;
    transition: opacity ease-in-out 200ms;
}

m-text-field > input.visible {
    opacity: 1;
}