@import "m-import.scss";
$full-width: ':not([floating]):not(.with-icon).full-width';

m-text-field {
  display: block;
  width: mu(50);
  height: mu(8);

  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  /*
   * Icon.
   */
  & > m-icon {
    position: absolute;
    left: mu(2);
    bottom: (mu(10) - $m-icon-size) / 2;
  }

  & > m-icon i.material-icons {
    transition: color $m-anim-quick;
  }

  /*
   * Hint text.
   */
  & > m-text-view.hint {
    position: absolute;
    top: mu(1.5) + 2px;

    opacity: 1;

    transition: font-size $m-anim-quick, color $m-anim-quick, top $m-anim-quick, opacity $m-anim-quick;

    /*
     * Asterisk.
     */
    & > sup.asterisk {
      margin-left: 1px;

      transition: color $m-anim-quick;
    }
  }

  & > m-text-view.hidden {
    opacity: 0;
  }

  /*
   * Input control.
   */
  & > input {
    position: absolute;
    bottom: mu(4);

    width: 100%;

    opacity: 0;
    transition: opacity $m-anim-quick, color ease-in-out $m-anim-quick;

    &.visible {
      opacity: 1;
    }
  }

  /*
   * Border underneath.
   */
  & > div.border-default {
    position: absolute;
    bottom: mu(3);

    width: 100%;

    border-bottom: 1px solid;
  }

  & > div.border-active {
    position: absolute;
    bottom: mu(3);
    left: 50%;

    width: 0;

    border-bottom: 2px solid;

    transition: left $m-anim-quick, width $m-anim-quick,  border $m-anim-quick;
  }

  & > div.border-active.shown {
    left: 0;
    width: 100%;
  }

  /*
   * Validation character counter.
   */
  & > m-text-view.counter {
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    transition: color $m-anim-quick;
  }

  & > m-text-view.message {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    opacity: 0;

    transition: color $m-anim-quick, opacity $m-anim-quick;

    &.visible {
      opacity: 1;
    }
  }

  /*
   * Offset the input contents to the right to make space for an icon.
   */
  &.with-icon {
    & > m-text-view.hint {
      left: mu(7);
    }

    & > m-text-view.message {
      left: mu(7);
    }

    & > div.border-active {
      left: calc(50% + #{mu(3.5)});
    }
    & > input, & > div.border-default, & > div.border-active.shown {
      left: mu(7);
      width: calc(100% - #{mu(7)});
    }
  }

  /*
   * Expand the control slightly when in full-width mode.
   */
  &#{$full-width} {
    height: mu(7);

    margin-left: mu(2.5);
    margin-right: mu(2.5);

    & > m-text-view.hint {
      top: mu(2) + 2px;
    }

    & > input {
      bottom: mu(2.5);
    }

    & > div.border-default, & > div.border-active {
      display: none;
    }

    & > m-text-view.counter {
      height: mu(7);
      line-height: mu(7);
    }

    &[max-length] > input {
      width: calc(100% - 52px);
    }
  }

  /*
   * Change the size of the control when in floating mode.
   */
  &[floating] {
    height: mu(11);

    & > m-text-view.hint {
      top: mu(4.5) + 2px;

      &.collapsed {
        top: mu(2);

        /*
         * Highlight the asterisk.
         */
        & > sup.asterisk {
          color: #F44336;
        }
      }
    }
  }

  /*
   * Show prohibited cursor and border when in disabled mode.
   */
  &[disabled] {
    cursor: not-allowed;

    & > input {
      cursor: not-allowed;
    }

    & > div.border-default {
      border-bottom-style: dashed;
    }

    & > m-text-view.message, & > m-text-view.counter {
      display: none;
    }
  }
}