@import "m-import.scss";

m-toolbar {
  display: block;
  position: relative;
  height: $m-toolbar-height;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  transition: background-color ease-in-out 200ms, color ease-in-out 200ms;

  & > m-text-view {
    height: $m-toolbar-height;
    line-height: $m-toolbar-height;

    margin-left: mu(2);
  }

  & > m-icon + m-text-view {
    margin-left: mu(9);
  }

  & > m-icon {
    position: absolute;
    top: mu(1);
    left: mu(1);

    overflow: hidden;
    height: $m-icon-touch;
    width: $m-icon-touch;
    line-height: $m-icon-touch;

    text-align: center;

    border-radius: 100%;

    & > .material-icons {
      line-height: $m-icon-touch;
    }
  }

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 4;

    box-sizing: border-box;

    & > m-icon {
      z-index: 4;
    }
  }
}