m-toolbar {
    display: block;
    position: relative;
    height: 56px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    transition: background-color ease-in-out 200ms, color ease-in-out 200ms;

    z-index: 4
}

m-toolbar[primary] {
    position: fixed;
    width: 100%;

    box-sizing: border-box;
}

m-toolbar > m-text-view {
    height: 56px;
    line-height: 56px;

    margin-left: 16px;
}

m-toolbar > m-icon + m-text-view {
    margin-left: 72px;
}

m-toolbar > m-icon {
    position: absolute;
    top: 8px;
    left: 8px;

    overflow: hidden;
    height: 40px;
    width: 40px;
    line-height: 40px;

    text-align: center;

    border-radius: 100%;
    z-index: 4;
}

m-toolbar > m-icon > .material-icons {
    line-height: 40px;
}